@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
h1 {
    text-align: center;
    margin: 12px 0;

}
.myText{
    width: 30%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid #a70a0a;
    border-radius: 5px;
    outline: none;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid red;
    border-radius: 12px;
    color: white;
    background: #8a2c2c;
    cursor: pointer;
}
.container{
    min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 70px;

}
